<div class="colors">
	<header class="content-header">
		<h1>绿洲颜色面板</h1>
		<p>绿洲OASIS为了避免视觉传达差异，使用一套特定的调色板来规定颜色，为你所搭建的产品提供一致的外观视觉感受</p>
	</header>
	<oasis-row>
		<oasis-col md=12 class = "app-colum left-block">
			<oasis-box>
        		<oasis-box-header>
			        <span class="title">主色</span>
			        <span class="tips">OASIS 主要品牌颜色是鲜艳、友好的绿色</span>
			    </oasis-box-header>
        		<oasis-box-body height=150>
					<oasis-col md=4>
						<div class="colors_block light-main">
							<span>
								浅绿色<br/>
								#8ce6db
							</span>
						</div>
					</oasis-col>
					<oasis-col md=4>
						<div class="colors_block main">
							<span>
								主打绿色<br/>
								#4ec1b2
							</span>
						</div>
					</oasis-col>
					<oasis-col md=4>
						<div class="colors_block dark-main">
							<span>
								深绿色<br />
								#07b9a2
							</span>
						</div>
					</oasis-col>
        		</oasis-box-body>
        	</oasis-box>
		</oasis-col>	
	</oasis-row>
	<oasis-row>
		<oasis-col md=12 class = "app-colum left-block">
			<oasis-box>
        		<oasis-box-header>
			        <span class="title">辅助色</span>
			        <span class="tips">OASIS 除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。</span>
			    </oasis-box-header>
        		<oasis-box-body height=150>
					<oasis-col md=3>
						<div class="colors_block main">
							<span>
								主打绿色<br/>
								#4ec1b2
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3>
						<div class="colors_block assist-success">
							<span>
								Success<br/>
								#deefd7
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3>
						<div class="colors_block assist-warning">
							<span>
								Warning<br />
								#fcf8e3
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3>
						<div class="colors_block assist-danger">
							<span>
								Danger<br />
								#f2dede
							</span>
						</div>
					</oasis-col>
        		</oasis-box-body>
        	</oasis-box>
		</oasis-col>	
	</oasis-row>
	<oasis-row>
		<oasis-col md=12 class = "app-colum left-block">
			<oasis-box>
        		<oasis-box-header>
			        <span class="title">中性色</span>
			        <span class="tips">OASIS 中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。</span>
			    </oasis-box-header>
        		<oasis-box-body height = 350>
        			<oasis-col md=3 style="color:#fff">
						<div class="colors_block middle-black-dark">
							<span>
								Black<br/>
								#1F2D3D
							</span>
						</div>
						<div class="colors_block middle-black">
							<span>
								Light Black<br/>
								#324057
							</span>
						</div>
						<div class="colors_block middle-black-light">
							<span>
								Extra Light Black<br/>
								#475669
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3 style="color:#fff">
						<div class="colors_block middle-silver-dark">
							<span>
								Silver<br/>
								#8492A6
							</span>
						</div>
						<div class="colors_block middle-silver">
							<span>
								Light Silver<br/>
								#99A9BF
							</span>
						</div>
						<div class="colors_block middle-silver-light">
							<span>
								Extra Light Silver<br/>
								#C0CCDA
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3>
						<div class="colors_block middle-gray-dark">
							<span>
								Gray<br/>
								#D3DCE6
							</span>
						</div>
						<div class="colors_block middle-gray">
							<span>
								Light Gray<br/>
								#E5E9F2
							</span>
						</div>
						<div class="colors_block middle-gray-light">
							<span>
								Extra Light Gray<br/>
								#EFF2F7
							</span>
						</div>
					</oasis-col>
					<oasis-col md=3>
						<div class="colors_block middle-white-dark">
							<span>
								Dark White<br/>
								#e7e7e9
							</span>
						</div>
						<div class="colors_block middle-white-light">
							<span>
								Light White<br/>
								#e7e7e9
							</span>
						</div>
						<div class="colors_block middle-white">
							<span>
								White<br/>
								#FFFFFF
							</span>
						</div>
					</oasis-col>
        		</oasis-box-body>
        	</oasis-box>
		</oasis-col>	
	</oasis-row>
</div>